<!doctype html>
<html lang="en">
  <head>
    <title>detect</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min-4.1.0.css">
    <!-- Date Picker -->
	  <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
  </head>
  <body>
    {% block extra %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script src="/static/javascript/jquery-3.3.1.slim.min.js" ></script>
  
    <script src="/static/javascript/bootstrap.min-4.1.0.js"></script>
  </body>
</html>