{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row  mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Filters</h5>
            </div>
            <div class="card-body">
                <form action="/shipinfo" method="get">
                    <table class="table tbquery">
                        <tr>
                            <td>
                                <div class="input-group input-group">
                                    <span class="input-group-text">Ship</span>
                                    <select name="ship_id" id="input" class="form-control">
                                        <option value=""> Select Ship </option>
                                        {% for item in ship_id_list %}
                                            <option value="{{ item[0] }}"> {{ item[0] }}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <button class="btn btn-primary form-control" type="submit"><i
                                            class="bi bi-search"></i> SEARCH </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
    
<div class="card mt-3" >
    <div class="card-header text-center">
        <h3>RESULTS</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Ship_id</th>
                    <th>Regions_travelled_to</th>
                    <th>Months_travelled</th>
                    <th>Total_cost</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td scope="row">{{ result[0] }}</td>
                        <td>{{ result[1] }}</td>
                        <td>{{ result[2] }}</td>
                        <td>{{ result[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}